* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 1500px;
    font-family:courier,arial,helvetica;
    background-color:#444444;
}
/* HEADER */
.header{
    width: 100%;
    border:1px solid red;
    height: 50px;
    background: grey;
}
.title{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 10px;
    
    
}
.logo{
    margin-left: -18px;
    margin-top: -15px;
  
}
/* TEXT */
.Text-Setting{
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid red;
    width: 250px;
    height: 25px;
}

/* Wrapper */

.Wrapper{
    border: 1px solid red;
    margin-top: 2px;
    height: 1200px;
    width: 100%;
}
/* MOUSE */




